In [1]:
import pandas as pd

In [2]:
elections = pd.read_csv(r"C:\Users\aaron\Desktop\dataverse_files\1976-2020-president.csv")
# Let's see what we're working with!
elections.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT
1,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,20210113,NaN,REPUBLICAN
2,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,20210113,NaN,OTHER
3,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,False,6669,1182850,20210113,NaN,OTHER
4,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,20210113,NaN,OTHER

In [3]:
# Too many unnecessary columns for what we want to look at.
elections.drop(elections.iloc[:, [2,3,4,5,6,8,9,12,13]], inplace=True, axis=1)
elections.head()

,year,state,candidate,candidatevotes,totalvotes,party_simplified
0,1976,ALABAMA,"CARTER, JIMMY",659170,1182850,DEMOCRAT
1,1976,ALABAMA,"FORD, GERALD",504070,1182850,REPUBLICAN
2,1976,ALABAMA,"MADDOX, LESTER",9198,1182850,OTHER
3,1976,ALABAMA,"BUBAR, BENJAMIN """"BEN""""",6669,1182850,OTHER
4,1976,ALABAMA,"HALL, GUS",1954,1182850,OTHER

In [4]:
# If we're going to examine the Democrat and Republican votes specifically, we can remove the  'OTHER' objects.
# What other objects do we have in 'party_simplified'?
elections['party_simplified'].value_counts()

party_simplified
OTHER          2524
DEMOCRAT        615
REPUBLICAN      613
LIBERTARIAN     535
Name: count, dtype: int64

In [5]:
# Remove Libertarian and Other
elections = elections[elections["party_simplified"].str.contains("OTHER") == False]

In [6]:
elections = elections[elections['party_simplified'].str.contains('LIBERTARIAN') == False]

In [7]:
elections.head()

    year    state      candidate  candidatevotes  totalvotes party_simplified
0   1976  ALABAMA  CARTER, JIMMY          659170     1182850         DEMOCRAT
1   1976  ALABAMA   FORD, GERALD          504070     1182850       REPUBLICAN
7   1976   ALASKA   FORD, GERALD           71555      123574       REPUBLICAN
8   1976   ALASKA  CARTER, JIMMY           44058      123574         DEMOCRAT
11  1976  ARIZONA   FORD, GERALD          418642      742719       REPUBLICAN

In [8]:
# Looks good so far.
elections['party_simplified'].value_counts()

party_simplified
DEMOCRAT      615
REPUBLICAN    613
Name: count, dtype: int64

In [9]:
# We should want an even number of parties. Do we have excess items to trim?
# Where might they be?
elections['state'].value_counts()

state
MARYLAND                27
ARIZONA                 25
ALABAMA                 24
PENNSYLVANIA            24
NEW HAMPSHIRE           24
NEW JERSEY              24
NEW MEXICO              24
NEW YORK                24
NORTH CAROLINA          24
NORTH DAKOTA            24
OHIO                    24
OKLAHOMA                24
OREGON                  24
RHODE ISLAND            24
NEBRASKA                24
SOUTH CAROLINA          24
SOUTH DAKOTA            24
TENNESSEE               24
TEXAS                   24
UTAH                    24
VERMONT                 24
VIRGINIA                24
WASHINGTON              24
WEST VIRGINIA           24
WISCONSIN               24
NEVADA                  24
MISSOURI                24
MONTANA                 24
ALASKA                  24
ARKANSAS                24
CALIFORNIA              24
COLORADO                24
CONNECTICUT             24
DELAWARE                24
DISTRICT OF COLUMBIA    24
FLORIDA                 24
GEORGIA                 24
HAWAII                  24
IDAHO                   24
ILLINOIS                24
INDIANA                 24
IOWA                    24
KANSAS                  24
KENTUCKY                24
LOUISIANA               24
MAINE                   24
MASSACHUSETTS           24
MICHIGAN                24
MINNESOTA               24
MISSISSIPPI             24
WYOMING                 24
Name: count, dtype: int64

In [10]:
# Across 12 elections, we should have 24 counts per state. We have 3 excess in Maryland and 1 in Arizona
AZ = elections[elections['state'] == 'ARIZONA']
MD = elections[elections['state'] == 'MARYLAND']

In [11]:
# We subset the dataframe by the states in question to easily examine irregularities
AZ['year'].value_counts()

year
2016    3
1976    2
1980    2
1984    2
1988    2
1992    2
1996    2
2000    2
2004    2
2008    2
2012    2
2020    2
Name: count, dtype: int64

In [12]:
MD['year'].value_counts()

year
2016    4
2004    3
1976    2
1980    2
1984    2
1988    2
1992    2
1996    2
2000    2
2008    2
2012    2
2020    2
Name: count, dtype: int64

In [13]:
# Arizona has an extra count in 2016, and Maryland has extra counts in 2016 and 2004
AZ.tail()

,year,state,candidate,candidatevotes,totalvotes,party_simplified
3407,2016,ARIZONA,"TRUMP, DONALD J.",1252401,2573165,REPUBLICAN
3408,2016,ARIZONA,"CLINTON, HILLARY",1161167,2573165,DEMOCRAT
3414,2016,ARIZONA,NaN,42,2573165,DEMOCRAT
3752,2020,ARIZONA,"BIDEN, JOSEPH R. JR",1672143,3387326,DEMOCRAT
3753,2020,ARIZONA,"TRUMP, DONALD J.",1661686,3387326,REPUBLICAN

In [14]:
MD.tail(15)

,year,state,candidate,candidatevotes,totalvotes,party_simplified
2187,2000,MARYLAND,"GORE, AL",1144008,2025212,DEMOCRAT
2188,2000,MARYLAND,"BUSH, GEORGE W.",813827,2025212,REPUBLICAN
2537,2004,MARYLAND,"KERRY, JOHN",1334493,2384238,DEMOCRAT
2538,2004,MARYLAND,"BUSH, GEORGE W.",1024703,2384238,REPUBLICAN
2544,2004,MARYLAND,OTHER,7,2384238,DEMOCRAT
2871,2008,MARYLAND,"OBAMA, BARACK H.",1629467,2631596,DEMOCRAT
2872,2008,MARYLAND,"MCCAIN, JOHN",959862,2631596,REPUBLICAN
3208,2012,MARYLAND,"OBAMA, BARACK H.",1677844,2707327,DEMOCRAT
3209,2012,MARYLAND,"ROMNEY, MITT",971869,2707327,REPUBLICAN
3535,2016,MARYLAND,"CLINTON, HILLARY",1677928,2781446,DEMOCRAT
3536,2016,MARYLAND,"TRUMP, DONALD J.",943169,2781446,REPUBLICAN
3542,2016,MARYLAND,"TRUMP, DONALD J.",259,2781446,REPUBLICAN
3543,2016,MARYLAND,"CLINTON, HILLARY",78,2781446,DEMOCRAT
3988,2020,MARYLAND,"TRUMP, DONALD J.",976414,3037030,REPUBLICAN
3989,2020,MARYLAND,"BIDEN, JOSEPH R. JR",1985023,3037030,DEMOCRAT

In [15]:
# Maryland has an OTHER candidate value we can also remove. 
# We also see that there are duplicate Trump and Clinton values.
# We will delete all candidatevotes items with under 260 votes as the duplicates are statistically insignificant.
elections = elections[elections['candidatevotes'] > 260]

In [16]:
elections['state'].value_counts()

state
ALABAMA                 24
PENNSYLVANIA            24
NEVADA                  24
NEW HAMPSHIRE           24
NEW JERSEY              24
NEW MEXICO              24
NEW YORK                24
NORTH CAROLINA          24
NORTH DAKOTA            24
OHIO                    24
OKLAHOMA                24
OREGON                  24
RHODE ISLAND            24
MONTANA                 24
SOUTH CAROLINA          24
SOUTH DAKOTA            24
TENNESSEE               24
TEXAS                   24
UTAH                    24
VERMONT                 24
VIRGINIA                24
WASHINGTON              24
WEST VIRGINIA           24
WISCONSIN               24
NEBRASKA                24
MISSOURI                24
ALASKA                  24
IDAHO                   24
ARIZONA                 24
ARKANSAS                24
CALIFORNIA              24
COLORADO                24
CONNECTICUT             24
DELAWARE                24
DISTRICT OF COLUMBIA    24
FLORIDA                 24
GEORGIA                 24
HAWAII                  24
ILLINOIS                24
MISSISSIPPI             24
INDIANA                 24
IOWA                    24
KANSAS                  24
KENTUCKY                24
LOUISIANA               24
MAINE                   24
MARYLAND                24
MASSACHUSETTS           24
MICHIGAN                24
MINNESOTA               24
WYOMING                 24
Name: count, dtype: int64

In [17]:
# Nice and even!
# Now let's add a new column showing the percentage of candidate votes per state.
elections['percent_votes'] = elections['candidatevotes'] / elections['totalvotes']

In [18]:
elections.head()

,year,state,candidate,candidatevotes,totalvotes,party_simplified,percent_votes
0,1976,ALABAMA,"CARTER, JIMMY",659170,1182850,DEMOCRAT,0.557273
1,1976,ALABAMA,"FORD, GERALD",504070,1182850,REPUBLICAN,0.426149
7,1976,ALASKA,"FORD, GERALD",71555,123574,REPUBLICAN,0.579046
8,1976,ALASKA,"CARTER, JIMMY",44058,123574,DEMOCRAT,0.356531
11,1976,ARIZONA,"FORD, GERALD",418642,742719,REPUBLICAN,0.563661

In [19]:
#We can clean up our indices

In [20]:
elections = elections.reset_index(drop=True)

In [21]:
elections

,year,state,candidate,candidatevotes,totalvotes,party_simplified,percent_votes
0,1976,ALABAMA,"CARTER, JIMMY",659170,1182850,DEMOCRAT,0.557273
1,1976,ALABAMA,"FORD, GERALD",504070,1182850,REPUBLICAN,0.426149
2,1976,ALASKA,"FORD, GERALD",71555,123574,REPUBLICAN,0.579046
3,1976,ALASKA,"CARTER, JIMMY",44058,123574,DEMOCRAT,0.356531
4,1976,ARIZONA,"FORD, GERALD",418642,742719,REPUBLICAN,0.563661
...,...,...,...,...,...,...,...
1219,2020,WEST VIRGINIA,"TRUMP, DONALD J.",545382,794652,REPUBLICAN,0.686316
1220,2020,WISCONSIN,"BIDEN, JOSEPH R. JR",1630866,3298041,DEMOCRAT,0.494495
1221,2020,WISCONSIN,"TRUMP, DONALD J.",1610184,3298041,REPUBLICAN,0.488224
1222,2020,WYOMING,"BIDEN, JOSEPH R. JR",73491,278503,DEMOCRAT,0.263879
1223,2020,WYOMING,"TRUMP, DONALD J.",193559,278503,REPUBLICAN,0.694998

In [22]:
# Now we want to add a 'winning_party' column to display each state's winner.
# We can start by grouping the data by year and state to find who has the highest votes.
winners = elections.loc[elections.groupby(['year', 'state'])['candidatevotes'].idxmax()]

In [23]:
# We have found the rows with the maximum candidatevotes by state and year.
# Now, we create a new column for the winning party.
winners['winning_party'] = winners['party_simplified']

In [24]:
# We then merge the column back to or original dataframe to display the winning party for each row.
results = pd.merge(elections, winners[['year', 'state', 'winning_party']], on=['year', 'state'], how='left')

In [25]:
results

,year,state,candidate,candidatevotes,totalvotes,party_simplified,percent_votes,winning_party
0,1976,ALABAMA,"CARTER, JIMMY",659170,1182850,DEMOCRAT,0.557273,DEMOCRAT
1,1976,ALABAMA,"FORD, GERALD",504070,1182850,REPUBLICAN,0.426149,DEMOCRAT
2,1976,ALASKA,"FORD, GERALD",71555,123574,REPUBLICAN,0.579046,REPUBLICAN
3,1976,ALASKA,"CARTER, JIMMY",44058,123574,DEMOCRAT,0.356531,REPUBLICAN
4,1976,ARIZONA,"FORD, GERALD",418642,742719,REPUBLICAN,0.563661,REPUBLICAN
...,...,...,...,...,...,...,...,...
1219,2020,WEST VIRGINIA,"TRUMP, DONALD J.",545382,794652,REPUBLICAN,0.686316,REPUBLICAN
1220,2020,WISCONSIN,"BIDEN, JOSEPH R. JR",1630866,3298041,DEMOCRAT,0.494495,DEMOCRAT
1221,2020,WISCONSIN,"TRUMP, DONALD J.",1610184,3298041,REPUBLICAN,0.488224,DEMOCRAT
1222,2020,WYOMING,"BIDEN, JOSEPH R. JR",73491,278503,DEMOCRAT,0.263879,REPUBLICAN
1223,2020,WYOMING,"TRUMP, DONALD J.",193559,278503,REPUBLICAN,0.694998,REPUBLICAN

In [36]:
# Here we create a pivot table to add a new 'percent_votes_difference' column that is always positive
pivot_table = results.pivot_table(index=['year', 'state'], columns='party_simplified', values='percent_votes').reset_index()

In [39]:
pivot_table['percent_votes_difference'] = abs(pivot_table['REPUBLICAN'] - pivot_table['DEMOCRAT'])

In [40]:
print(pivot_table)

party_simplified  year          state  DEMOCRAT  REPUBLICAN  \
0                 1976        ALABAMA  0.557273    0.426149
1                 1976         ALASKA  0.356531    0.579046
2                 1976        ARIZONA  0.398000    0.563661
3                 1976       ARKANSAS  0.649617    0.349043
4                 1976     CALIFORNIA  0.479548    0.497483
..                 ...            ...       ...         ...
607               2020       VIRGINIA  0.541095    0.439955
608               2020     WASHINGTON  0.579703    0.387670
609               2020  WEST VIRGINIA  0.296965    0.686316
610               2020      WISCONSIN  0.494495    0.488224
611               2020        WYOMING  0.263879    0.694998

party_simplified  percent_votes_difference
0                                 0.131124
1                                 0.222514
2                                 0.165662
3                                 0.300574
4                                 0.017935
..                                     ...
607                               0.101140
608                               0.192033
609                               0.389350
610                               0.006271
611                               0.431119

[612 rows x 5 columns]

In [47]:
results2 = pd.merge(results, pivot_table, on=['year', 'state'], how='left')

In [48]:
results2

,year,state,candidate,candidatevotes,totalvotes,party_simplified,percent_votes,winning_party,DEMOCRAT,REPUBLICAN,percent_votes_difference
0,1976,ALABAMA,"CARTER, JIMMY",659170,1182850,DEMOCRAT,0.557273,DEMOCRAT,0.557273,0.426149,0.131124
1,1976,ALABAMA,"FORD, GERALD",504070,1182850,REPUBLICAN,0.426149,DEMOCRAT,0.557273,0.426149,0.131124
2,1976,ALASKA,"FORD, GERALD",71555,123574,REPUBLICAN,0.579046,REPUBLICAN,0.356531,0.579046,0.222514
3,1976,ALASKA,"CARTER, JIMMY",44058,123574,DEMOCRAT,0.356531,REPUBLICAN,0.356531,0.579046,0.222514
4,1976,ARIZONA,"FORD, GERALD",418642,742719,REPUBLICAN,0.563661,REPUBLICAN,0.398000,0.563661,0.165662
...,...,...,...,...,...,...,...,...,...,...,...
1219,2020,WEST VIRGINIA,"TRUMP, DONALD J.",545382,794652,REPUBLICAN,0.686316,REPUBLICAN,0.296965,0.686316,0.389350
1220,2020,WISCONSIN,"BIDEN, JOSEPH R. JR",1630866,3298041,DEMOCRAT,0.494495,DEMOCRAT,0.494495,0.488224,0.006271
1221,2020,WISCONSIN,"TRUMP, DONALD J.",1610184,3298041,REPUBLICAN,0.488224,DEMOCRAT,0.494495,0.488224,0.006271
1222,2020,WYOMING,"BIDEN, JOSEPH R. JR",73491,278503,DEMOCRAT,0.263879,REPUBLICAN,0.263879,0.694998,0.431119
1223,2020,WYOMING,"TRUMP, DONALD J.",193559,278503,REPUBLICAN,0.694998,REPUBLICAN,0.263879,0.694998,0.431119

In [50]:
# We now have everything we want, so we can go ahead and make any final changes and export our new dataframe.
results2.rename(columns = {'party_simplified' : 'party'})

,year,state,candidate,candidatevotes,totalvotes,party,percent_votes,winning_party,DEMOCRAT,REPUBLICAN,percent_votes_difference
0,1976,ALABAMA,"CARTER, JIMMY",659170,1182850,DEMOCRAT,0.557273,DEMOCRAT,0.557273,0.426149,0.131124
1,1976,ALABAMA,"FORD, GERALD",504070,1182850,REPUBLICAN,0.426149,DEMOCRAT,0.557273,0.426149,0.131124
2,1976,ALASKA,"FORD, GERALD",71555,123574,REPUBLICAN,0.579046,REPUBLICAN,0.356531,0.579046,0.222514
3,1976,ALASKA,"CARTER, JIMMY",44058,123574,DEMOCRAT,0.356531,REPUBLICAN,0.356531,0.579046,0.222514
4,1976,ARIZONA,"FORD, GERALD",418642,742719,REPUBLICAN,0.563661,REPUBLICAN,0.398000,0.563661,0.165662
...,...,...,...,...,...,...,...,...,...,...,...
1219,2020,WEST VIRGINIA,"TRUMP, DONALD J.",545382,794652,REPUBLICAN,0.686316,REPUBLICAN,0.296965,0.686316,0.389350
1220,2020,WISCONSIN,"BIDEN, JOSEPH R. JR",1630866,3298041,DEMOCRAT,0.494495,DEMOCRAT,0.494495,0.488224,0.006271
1221,2020,WISCONSIN,"TRUMP, DONALD J.",1610184,3298041,REPUBLICAN,0.488224,DEMOCRAT,0.494495,0.488224,0.006271
1222,2020,WYOMING,"BIDEN, JOSEPH R. JR",73491,278503,DEMOCRAT,0.263879,REPUBLICAN,0.263879,0.694998,0.431119
1223,2020,WYOMING,"TRUMP, DONALD J.",193559,278503,REPUBLICAN,0.694998,REPUBLICAN,0.263879,0.694998,0.431119

In [51]:
results2.to_csv('results2.csv', index=False)